<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Введите сообщение: "/>
        <input type="text" name="tag" placeholder="Тэг:  "/>
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список сообщений</div>
<table>
    <thead>
    <tr>
        <th> Message </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
        <td><span th:text="${message}"> Title </span></td>
    </tr>
    </tbody>
</table>



</body>
</html>